@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
	padding-bottom:50px;
}

.body { /*background image*/
	background: 
	linear-gradient(
		rgba(0,0,0, 0.5),
		rgba(0,0,0, 0.5)),	
	url("images/Cover.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.white {
	color: white;
}

h2, button, a {
	text-transform: uppercase;
}


	.text-primary {
		text-transform: uppercase;
	}

